
<p>Hey Rosemary,<p>

<p>A Wire was just sent to eGifter for the amount of ${{total}}. Wire confirmation XXXXXXX.</p>

<p>That covers the following invoices from {{start_date}} - {{end_date}}:</p>

<p>----------------------------------------</p>

{{#each invoices as |invoice|}}
<p>Payment completed at: {{invoice.completed_at}}</p>
<p>Amount paid: ${{invoice.denomination_amount_paid}}</p>
<p>Minus Dash Back: ${{invoice.cashback_denomination_amount}}</p>
<p>eGifter Gets: ${{invoice.settlement_amount}}</p>
<p>Reference: {{invoice.external_id}}</p>
<p>Invoice ID: {{invoice.uid}}</p>
<br/>
{{/each}}

<p>----------------------------------------</p>

<p>Total: ${{total}}</p>

<p>Best,</p>

<p>Derrick</p>
<p>Anypay.Global</p>
<p>202.489.9284 (direct)</p>
