{{outlet}}

<h1>{{business.business_name}}</h1>

{{#if business.image_url}}
  <section class='business-image'>
    <img src="{{business.image_url}}"/>
  </section>
{{/if}}

<section>
  {{#link-to "pay" business }}<button class='link-to-pay-now'>Pay Now</button><{{/link-to}}
</section>

<div class='pay-bottom-tray pay-bottom-tray--is-hidden'>

  <p>Swipe to pay ${{bsvAmount}}</p>
  {{money-button}}
  <div id="my-money-button"></div>

</div>

<div class="cd-panel cd-panel--from-right js-cd-panel-main">
   <header class="cd-panel__header">
      <h1>Title Goes Here</h1>
      <a href="#0" class="cd-panel__close js-cd-close">Close</a>
   </header>

   <div class="cd-panel__container">
      <div class="cd-panel__content">
         <!-- your side panel content here -->
      </div> <!-- cd-panel__content -->
   </div> <!-- cd-panel__container -->
</div> <!-- cd-panel -->

