{{outlet}}

<button class='btn btn-large float-left'>
  {{#link-to "cities"}}all cities{{/link-to}}
</button>

<h2 class='banner'>{{city.name}}</h2>

  <ul>

  {{#each locations as |location|}}
    <li onclick={{action 'businessClicked' location}}>
      {{#if session.isAuthenticated}}

        {{#link-to "business" location.stub}}

          <div class='half-left'>
            <h4>{{location.business_name}}</h4>
            <span class="badge badge-primary">Pay Now</span>
          </div>

        {{/link-to}}

      {{else}}

        <div class='half-left'>
          <h4>{{location.business_name}}</h4>
          <span class="badge badge-primary">Pay Now</span>
        </div>

      {{/if}}

      <div class='clear'></div>
    </li>
    <div class='clear'></div>

  {{/each}}
  </ul>

