{{outlet}}

<button class='btn btn-large float-left'>
  {{#link-to "cities"}}all cities{{/link-to}}
</button>

<h2 class='banner'>{{city.name}}</h2>

  <ul>
  {{#each locations as |location|}}
    <li>
        <div class='half-left'>
        <a target="_blank" href="https://anypayapp.com/pay/{{location.stub}}">
          <h4>{{location.business_name}}</h4>
          <i>{{location.distance}}meters</i>
          <span class="badge badge-primary">Pay Now</span>
        </a>
        </div>

        <div class='half-right'>
        {{#if location.bch_tipjar}}
          <a target="_blank" href={{location.bch_tipjar.address}}>
            <span class="badge badge-success">BCH Tip</span>
          </a>
        {{/if}}
        {{#if location.bsv_tipjar}}

          <a target="_blank" href="bitcoin:{{location.bsv_tipjar.address}}">
            <span class="badge badge-warning">BSV Tip</span>
          </a>
          <div class="money-button"
            data-to="{{bsv_tipjar.address}}"
            data-type="tip"
            data-label="BSV Tip"
            data-currency="USD"
          ></div>
        {{/if}}
        </div>

    <div class='clear'></div>
    </li>
    <div class='clear'></div>
  {{/each}}
  </ul>

