{{outlet}}

<div class="jumbotron">
  <h1 class='align-center center'>Energy City</h1>
  {{#if connected}}
    <span class="badge badge-success">connected</span>
  {{else}}
    <span class="badge badge-warning">not connected</span>
  {{/if}}
</div>

<table class='table table-striped'>
  {{#each locations as |location|}}
    <tr>
      <td>
        <a target="_blank" href="https://anypayapp.com/pay/{{location.stub}}">
          {{location.name}}
        </a>
      </td>

      <td>
        {{#if location.tipjar}}
          <a target="_blank" href={{location.tipjar}}>
            <span class="badge badge-primary">tipjar</span>
          </a>
        {{/if}}
      </td>

      <td class='align-right'>

        {{#if location.invoice}}

          <span class="badge badge-warning">

            <a target="_blank" href={{location.invoice.uri}}>

              Pay ${{location.invoice.denomination_amount}} {{location.invoice.currency}}

            </a>

          </span>

        {{else}}

        {{/if}}

      </td>
    </tr>
  {{/each}}
</table>

