{{#if isLoading}}
  <img class="loading-spinner" src="/loading.gif"/>
{{else}}

<div class="main">
  <h1 id='invoice-amount'>$<span>{{amount}}</span></h1>

  <div id="calculator-pad">

    <div id='calculator-1'>1</div>
    <div id='calculator-2'>2</div>
    <div id='calculator-3'>3</div>
    <div id='calculator-4'>4</div>
    <div id='calculator-5'>5</div>
    <div id='calculator-6'>6</div>
    <div id='calculator-7'>7</div>
    <div id='calculator-8'>8</div>
    <div id='calculator-9'>9</div>
    <div id='calculator-00'>00</div>
    <div id='calculator-0'>0</div>
    <div id='calculator-delete'>delete</div>

  </div>

  <h1 id='invoice-collect' onclick={{action 'generateInvoice'}} class='background2 bottom'>
    <img src="/dash.png"/> COLLECT $<span>{{amount}}</span>
  </h1>
</div>
{{/if}}


{{outlet}}
