{{outlet}}

<img class='home-background' src="{{rootUrl}}/bangkok_2.jpg"/>

<div class='home'>
  <img class="home-logo" src="{{rootUrl}}anypay_wide.png"/>

  <button style="width: 100%; padding: 2em; border: 0px" {{action 'findNearby'}} class="nearby-button">Find
  Nearby</button>

  <p>or</p>

  <button style="width: 100%; padding: 2em; border: 0px"{{action "searchCity"}}>Search City</button>

</div>
