{{outlet}}

<div class='business-modal close'>
  <a {{action 'closeModal'}} class='close-link'>X</a>

  <h1>{{selectedMerchant.business_name}}</h1>
  <img class='logo' src={{selectedMerchant.image_url}}/>
  <p class='business-address'>{{selectedMerchant.physical_address}}</p>

  <div class='selected-merchant-details'>

    <p class='selected-merchant-coins'><b>{{selectedMerchantCoins}}</b></p>
    {{#if selectedMerchant.stub}}
      <button {{action 'payNow'}} class='btn btn-large pay-now-button'>Pay Now</button>
    {{/if}}
    <p><i>Active {{moment-from-now selectedMerchantDetails.payments.latest.time}}</i></p>

  </div>

</div>

<script id="merchant-popup-template" type="text/x-handlebars-template">
</script>

<div class="map-container">
  <div id='map' class='map'>
  </div>
  <div class='map-location-chosen'>
    <ul class='map-merchant-list'>
    <form {{action "searchLocation" on="submit"}}>
      {{input class='search-city' type="search" value=this.search placeholder="search city or address"}}
    </form>
    {{#each merchants as |merchant|}}
      <li {{action 'merchantDetailsClicked' merchant}} class='map-merchant-details'>
        <div class='merchant-name'>
          <h2>{{merchant.business_name}}</h2>
          <p>{{merchant.physical_address}}</p>
        </div>
        <img class='merchant-image' src={{merchant.image_url}} style='max-width:200px;'>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
